@{
    ViewBag.Title = "Seleccion de mesa";
}

<div style="text-align:center">
    <h1>Seleccion de Mesa</h1>
    <br />
    <h3>Usuario: @Session["Usuario"].ToString() </h3>
    @if (@Session["isActive"].ToString().AsBool())
    {
        <h3>Estado: Activo</h3>
    }
    else
    {
        <h3>Estado: Desactivado</h3>
    }
</div>
    <div class="navbar-collapse collapse">
        @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Cerrar sesion" class="btn btn-primary" />
        }
    </div>
